In [1]:
import gzip
import json
import shutil
import os
from ast import literal_eval
import pandas as pd
from datetime import datetime
import pyodbc
import sqlalchemy as sal
import numpy as np

In [2]:
# For unzipping .gz files 
for f in os.listdir():
  if 'json' in f:  
      with gzip.open(f, 'rb') as f_in:
          with open(f.replace('.gz',''), 'wb') as f_out:
            shutil.copyfileobj(f_in, f_out)

---
# Data Wrangling

In this section, we will be formatting our JSON files, processing nested JSON objects, and cleaning up the overall structure of the datasets.
## File Formatting

Due to invalid formatting found in the JSON files during data modeling, the code below assist us in validating and cleaning JSON data for processing. First, run **python -m json.tool filename** in the command line to check whether the file is a valid JSON document. You should receive an error if invalid. Othewise, the whole file prints. 

If an error is confirmed, run the data pipeline below to render a clean json file. The data pipeline is defined to utilze the JSONDecoder.raw_decode() (and its undocumented second parameter) to traverse the data, look for valid JSON structures in an iterative manner, and parse any invalid structures it encounters. A nice benefit to this built-in json module is that it will properly parse the data even if the concatenated JSONs are not properly indented or are just missing. 

Once all our JSON data has been parsed, the file will be outputted, read again, and unnested at the first level. This should aid us in idenitifying which JSON objects need to be flatten even further.

**Please note that even after running the JSON files into the data pipeline, the data will still be structured as a JSON array (or list in Python) rather than the standard JSON object (or dict in Python)**

In [3]:
def jsonFormatter(filename, parsed= None, parser= None): 
    parser = json.JSONDecoder() 
    parsed = [] # a list to hold individually parsed JSON structures
    with open('{filename}.json'.format(filename = filename)) as f: 
        data = f.read() 
        head = 0 # hold the current position as we parse while True: 
        while True:
            head = (data.find('{', head) + 1 or data.find('[', head) + 1) - 1
            try:
                struct, head = parser.raw_decode(data, head)
                parsed.append(struct)
            except (ValueError, json.JSONDecodeError):  # no more valid JSON structures
                break

    with open('{filename}Clean.json'.format(filename = filename), 'w', encoding='utf-8') as jsonfile: # Parsed file is outputted for documentation
        json.dump(parsed, jsonfile, ensure_ascii=False, indent=2)

        df = pd.json_normalize(parsed, max_level = 1) # objects unnested
        df.rename(columns=lambda x: x.split('.')[0].replace(' ','') if '.' in x else x, inplace= True) #removing json keys in column name
        return df

In [4]:
# Load fetch rewards datasets.
users = jsonFormatter('users')
receipts = jsonFormatter('receipts')
brands = jsonFormatter('brands')

## Flattening Deeply Nested JSON Objects

After formatting our datasets into a desired state, our next step is to flatten the deeply nested objects and extract the JSON arrays (or lists) that are embedded within each key. From there, we can ensure we have access to the values that will inform our analysis later on.

### Receipts

 In order to access the remaining items nested in the Receipts dataset, we need to explode 'rewardsReceiptItemList' so we can access the lists of receipts. From there, we ensure all the values, especially the NAs, are embedded within the lists so that we can convert them into strings and then feed them into our literal_eval function. Finally, after detecting each dictionary and list,  we run json_normalize to unnest all keys and values and merge them back to their respective datasets by index. In the end, each 'receiptId' should have duplicated rows that represent each individual item by receipt. This was done to more easily extract brand and item information.

In [5]:
receipts = receipts.reindex(sorted(receipts.columns), axis=1)

In [6]:
receipts = receipts.explode('rewardsReceiptItemList') # explode nested objects
receipts.reset_index(inplace=True)

receipts = receipts.fillna({'rewardsReceiptItemList':'{}'}) # adding curly bracklets to detect lists among NAs
receipts['rewardsReceiptItemList'] = receipts['rewardsReceiptItemList'].apply(lambda x:str(x)) # converting to strings
receipts['rewardsReceiptItemList'] = receipts['rewardsReceiptItemList'].apply(literal_eval) # detecting dictionaries and lists

In [7]:
rewardsReceiptsFlat = pd.json_normalize(receipts['rewardsReceiptItemList'],errors='ignore',record_prefix='rewardsReceiptItemList') # unnesting by variable, ideally performed with meta
rewardsReceiptsFlat.rename(columns =  {'pointsEarned': 'pointsEarnedReceipt'}, inplace= True)
rewardsReceiptsFlat = rewardsReceiptsFlat.reindex(sorted(rewardsReceiptsFlat.columns), axis=1)

In [8]:
receiptsClean =  pd.merge(receipts, rewardsReceiptsFlat, left_index = True, right_index = True, how = 'outer') # Merging by index

In [9]:
receiptsClean = receiptsClean.drop(['rewardsReceiptItemList', 'index'], axis= 1)
receiptsClean.rename(columns = {'_id':'receiptId'}, inplace= True)
#receipts_clean.reset_index(inplace=True, drop = True)

In [10]:
def strip_obj(col):
    if col.dtypes == object:
        return (col.astype(str)
                   .str.strip()
                   .replace({'nan': np.nan}))
    return col

In [11]:
receiptsClean = receiptsClean.apply(strip_obj, axis=0)

In [12]:
receipts_clean = receiptsClean.dropna(axis = 1, how = 'all')
receipts_clean = receipts_clean.drop_duplicates()

## Brands

As a reult of the file formatting, the 'cpg' key was unneested, however, the values for the keys 'id' and 'ref' are now contained in two separate columns with duplicated column names, 'cpg'. To access the values, all we need to do is differentiate the columns and unnest the remaining key, 'oid', which er will merge back in by index.

In [13]:
s = pd.Series(brands.columns)
brands.columns= brands.columns+s.groupby(s).cumcount().replace(0,'').astype(str) # idenitfied duplicated columns and numbered them
brands = brands.reindex(sorted(brands.columns), axis=1)

In [14]:
cpgFlatId = pd.json_normalize(brands['cpg'], errors='ignore', record_prefix='cpg' , max_level= 1)\
    .add_prefix('cpgId') #unnesting by variable and adding prefix to column name

In [15]:
brandsClean = pd.merge(brands, cpgFlatId, left_index = True, right_index = True, how = 'outer') # Merging by index

In [16]:
brandsClean = brandsClean.drop(['cpg'], axis= 1)
brandsClean.rename(columns =  {'cpg1': 'cpgRef', '_id':'brandId'}, inplace= True)
brandsClean.rename(columns=lambda x: x.split('$')[0].replace(' ','') if '$' in x else x, inplace= True) #removing json keys in column name
#brands_clean = brands_clean.reindex(sorted(brands_clean.columns), axis=1)

In [17]:
brandsClean = brandsClean.apply(strip_obj, axis=0)
brandsClean = brandsClean.replace('', np.nan, regex=True)

In [18]:
brandsClean = brandsClean.dropna(axis = 1, how = 'all')
brandsClean = brandsClean.drop_duplicates()

## UNIX Timestamp to DateTime

Now that we have flatten out all the JSON objects in our datasets, we will now convert the unix/epoch time that are present in some of our variables into a regular time stamp. For this purpose, we are going to define a function that divides our unix epoch by 1000 and convert our seconds to a UTC timestamp. From there we will use pandas.to_datetime() to convert our timestamps to datetime types.This method will apply to both the User and Receipts datasets.

In [19]:
def dateConverter(x):
  try:
    return(datetime.utcfromtimestamp(x/1000).strftime('%Y-%m-%d %H:%M:%S'))
  except:
    return pd.NaT #coerce non integers to NaT

In [20]:
for col in receiptsClean.columns:
    if 'date' in col.lower():
        receiptsClean[col] = receiptsClean[col].apply(lambda time: dateConverter(time)).apply(pd.to_datetime)

In [21]:
users = users.reindex(sorted(users.columns), axis=1)

In [22]:
for col in users.columns:
    if any(x in col.lower() for x in ['date', 'login']):
        users[col] = users[col].apply(lambda date: dateConverter(date)).apply(pd.to_datetime)

In [23]:
usersClean = users.apply(strip_obj, axis=0)
usersClean.rename(columns = {'_id':'userId'}, inplace= True)

In [24]:
usersClean = usersClean.drop_duplicates()
usersClean = usersClean.dropna(axis = 1, how = 'all')

---
# Table Designing in SQL

In this section... 

## Inserting Data into SQL

In [25]:
# Defined function to create url used for creating engines
def url(server_name, database):
    return(f'mssql+pyodbc://{server_name}/{database}?driver=ODBC Driver 17 for SQL Server')

In [26]:
fr = url('LAPTOP-9Q779EDT','fetchRewards')
engine = sal.create_engine(fr)
conn = engine.connect()

In [27]:
%%capture
usersClean.info()
receiptsClean.info()
brandsClean.info()

In [28]:
#Converting string to float 
for col in receiptsClean.columns:
    if any(x in col.lower() for x in ['price', 'total']):
        receiptsClean[col] = receiptsClean[col].astype(float)

In [29]:
receiptsFloat = ['pointsEarned','pointsEarnedReceipt' ]
receiptsClean[receiptsFloat] = receiptsClean[receiptsFloat].astype(float)

In [30]:
# To use dtype with to_sql(), we pass a dictionary keyed to each data frame column with corresponding sqlalchemy types.
def sqlcol(df):    
    
    dtypedict = {}
    for i,j in zip(df.columns, df.dtypes):
        if "object" in str(j):
            dtypedict.update({i: sal.types.VARCHAR(length=255)})
                                 
        if "datetime" in str(j):
            dtypedict.update({i: sal.types.DateTime()})

        if "float" in str(j):
            dtypedict.update({i: sal.types.Float(precision=3, asdecimal=True)})

        if "int" in str(j):
            dtypedict.update({i: sal.types.INT()})

        if "bool" in str(j):
            dtypedict.update({i: sal.types.VARCHAR(length=255)})
    return dtypedict

In [31]:
usersType = sqlcol(usersClean)
usersClean.to_sql('users', conn, if_exists='replace', index=False, chunksize =5000, 
dtype = usersType);

In [32]:
receiptsType =sqlcol(receiptsClean)
receiptsClean.to_sql('receipts', conn, if_exists='replace', index=False, chunksize= 5000, dtype = receiptsType);

In [33]:
brandsType =sqlcol(brandsClean)
brandsClean.to_sql('brands', conn, if_exists='replace', index=False, chunksize= 5000, dtype = brandsType);

---
# Adressing Stakeholder Needs

In [34]:
brandsSpendTrans= pd.DataFrame(pd.read_sql_query("""\
DECLARE  @createdDate DATETIME = (SELECT MAX(createdDate) FROM users)

SELECT brandCode, ROUND(SUM(totalSpent),1) [spend], ROUND(SUM(purchasedItemCount),1) [transactions]
FROM
(SELECT DISTINCT receiptId, brandCode, totalSpent, purchasedItemCount, userId
FROM receipts) receipts

Inner join
(SELECT userId, createdDate
FROM users
WHERE datediff(month, createdDate, @createdDate) between 0 and 6 )
users on users.userId = receipts.userId

GROUP BY brandCode
""", conn))

In [35]:
print("Top five brands by spend among users who were created within the past 6 months")
top5 = brandsSpendTrans.dropna()
top5.nlargest(5,'spend')[['brandCode', 'spend']]

Top five brands by spend among users who were created within the past 6 months

          brandCode    spend
8    BEN AND JERRYS  20040.8
125           PEPSI  19390.6
48          FOLGERS  18900.0
82        KELLOGG'S  18555.4
10          BIGELOW  18362.7

In [36]:
print("Top five brands by transactions among users who were created within the past 6 months")
top5.nlargest(5,'transactions')[['brandCode', 'transactions']]

Top five brands by transactions among users who were created within the past 6 months

          brandCode  transactions
8    BEN AND JERRYS        4111.0
125           PEPSI        3937.0
40             DOLE        3748.0
48          FOLGERS        3681.0
92            KNORR        3674.0